html {
  height: 100%;
}
body{
  position: relative;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 6rem;
}
body{
    background-color:#14ea01fa;
}
.ss-bg{
  background-image: url(/../images/biosystem.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
.has-danger{
  color:red;
}
.table{
  color:white;
}
header {
    background-color:#1ca000;
}
nav li a{
    color:white;
}
nav a{
    color:white;
}
.navbar-toggler-icon{
    background-color:white;
}
.table-hover tbody tr:hover{
    color: white;
    background-color: rgba(0,0,0,.075);
}
.btn-custom{
    background-color:#1ca000;
    border-color:#1ca000;
    color:white;
}
.btn-custom:hover{
    background-color:white;
    color:#1ca000;
    border-color:#1ca000;
}
footer {
    background-color:#1ca000;
}
label{
  color:white;
}
tbody {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.table td{
   text-align:center;
}
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right:2px;
}
.dot-left-color{
  background-color:#c6f212;
}
.dot-right-color{
  background-color:#2449fc;
}
footer{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  padding-left:15px;
  padding-right:15px;
}

