<head th:fragment="head" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../public/css/bs-styles.css" th:href="@{/css/bs-styles.css}"/>
    <link rel="icon" href="../../public/images/bsfavicon.ico"
          th:href="@{/images/bsfavicon.ico}"/>
    <script src="../../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>