<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add tissue</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div>
    <header>
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    </header>
    <main class="mt-4 mb-4">
        <div class="container">
            <h1 class="text-center text-white">Add new Tissue</h1>
            <form th:action="@{/tissues/add}" method="post" th:object="${tissueBindingModel}">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-danger'">
                    <label for="inputName" th:text="Name"></label>
                    <input type="text" th:name="name" class="form-control" id="inputName" th:field="*{name}"/>
                    <small th:id="nameHelp" th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
                </div>
                <div class="form-check"
                     th:each="tissueType : ${T(biosystem.domain.entities.enums.TissueType).values()}">
                    <input class="form-check-input" type="radio" name="tissueType" th:id="${{tissueType}}"
                           th:value="${tissueType}" th:field="*{tissueType}">
                    <label th:classappend="${#fields.hasErrors('tissueType')}? 'has-danger'" class="form-check-label"
                           th:for="${{tissueType}}" th:text="${{tissueType.type}}"></label>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('size')}? 'has-danger'">
                    <label for="size" th:text="|Size|"></label>
                    <input type="text" th:name="size" class="form-control" id="size"
                           th:field="*{size}"/>
                    <small th:id="size"
                           th:each="error : ${#fields.errors('size')}" th:text="${error}"></small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('shape')}? 'has-danger'">
                    <label for="shape" th:text="|Shape|"></label>
                    <input type="text" th:name="shape" class="form-control" id="shape"
                           th:field="*{shape}"/>
                    <small th:id="shape"
                           th:each="error : ${#fields.errors('shape')}" th:text="${error}"></small>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('studiedBy')}? 'has-danger'">
                    <label for="studiedBy" th:text="|Studied by|"></label>
                    <input type="text" th:name="studiedBy" class="form-control" id="studiedBy"
                           th:field="*{studiedBy}"/>
                    <small th:id="studiedBy"
                           th:each="error : ${#fields.errors('studiedBy')}" th:text="${error}"></small>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-danger'">
                    <label for="description" th:text="|Description|"></label>
                    <input type="text" th:name="description" class="form-control" id="description"
                           th:field="*{description}"/>
                    <small th:id="description"
                           th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
                </div>


                <div class="form-group" th:classappend="${#fields.hasErrors('cells')}? 'has-danger'">
                    <label for="inputAffectedCells" th:text="|Cells|"></label>
                    <select multiple class="form-control" th:name="tissues" id="inputAffectedCells"
                            th:field="*{cells}">
                        <th:block th:each="cell : ${cellsModels}">
                            <option th:value="${cell.id}" th:text="${cell.name}"></option>
                        </th:block>
                    </select>
                    <small th:id="cellsHelp" th:each="error : ${#fields.errors('cells')}" th:text="${error}"></small>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-custom" th:text="|Add tissue|"></button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </footer>
</div>
</body>
</html>